name: tests-tickets

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install MongoDB dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libkrb5-dev

      - name: Install dependencies and run tests
        working-directory: tickets
        run: |
          npm ci
          npm run test:ci
